@media (max-width:768px){
 
    nav{
        padding:10px 10px;
        flex-wrap:wrap;
    
    }

    nav img{
        width:70px;
        margin-right:10px;
        order:1;
    }
      
    .icon{
        order:2;
        flex:1;
        margin:0;
        display:flex;
        justify-content:center;   
        gap:15px;
        font-size:20px;
    }

        
    label[for="menu"]{
        order:3;
        display:block;
        margin-left:auto;
        cursor:pointer;
        margin-left: auto;
    }

        
    label .open{
        display:inline-block !important;
    }

        
    label .close{
        display:none !important;
    }

   nav ul{
    order:4;
    width:100%;
    margin:0;
    padding:15px 0;
    flex-direction:column;
    align-items:center;
    gap:10px;

         
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(15px);

    border: 1px solid rgba(255, 255, 255, 0.18);     
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    display:none;
    position:relative;
    top:10px;
    z-index: 999;}

    #menu:checked ~ ul{
        display:flex;
    }


    #menu:checked + label .open{
        display:none !important;
    }

    #menu:checked + label .close{
        display:inline-block !important;
    }
}
@media (max-width: 1024px) {
  .hero-section {
    width: 95%;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  h1 {
    font-size: 36px;
    margin: 0 auto;
  }

  p {
    font-size: 18px;
    max-width: 90%;
    margin: 10px auto;
  }

  .button {
    display: inline-block;
    margin: 15px auto;
  }

  .hero-section img {
    width: 350px;
    max-width: 100%;
    display: block;
    margin: 20px auto 0 auto;
  }
}
@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px 10px;
  }

  h1 {
    font-size: 28px;
    margin: 0 auto;
  }

  p {
    font-size: 16px;
    max-width: 90%;
    margin: 10px auto;
  }

  .button {
    font-size: 15px;
    padding: 10px 18px;
    margin: 15px auto;
  }

  .hero-section img {
    width: 260px;
    max-width: 100%;
    display: block;
    margin: 20px auto 0 auto;
  }
}
@media (max-width: 375px) {
  .hero-section {
    padding: 15px 8px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  h1 {
    font-size: 20px;
    line-height: 1.2;
    margin: 0 auto;
  }

  p {
    font-size: 14px;
    max-width: 90%;
    margin: 8px auto;
  }

  .button {
    font-size: 14px;
    padding: 8px 14px;
    margin: 10px auto;
  }

  .hero-section img {
    width: 180px;
    max-width: 100%;
    display: block;
    margin: 15px auto 0 auto;
  }
}