*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}


nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:10px 5%;
    display:flex;
    align-items:center;
    background:#fff;
    box-shadow:0 2px 20px rgb(210,233,238);
    z-index:1000;
}


nav img{
    width:80px;
    height:auto;
}



nav ul{

    display:flex;
    list-style:none;
    gap:25px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    backdrop-filter: blur(10px);
}

nav ul li a{
    text-decoration:none;
    color:#000;
    font-size:18px;
}


.icon{
    margin-left:auto;
    display:flex;
    gap:15px;
    font-size:20px;
    align-items:center;
}


label[for="menu"]{
    display:none;
}

label .open,
label .close{
    font-size:26px;}
