*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}


nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:10px 5%;
    display:flex;
    align-items:center;
    background:#fff;
    box-shadow:0 2px 20px rgb(210,233,238);
    z-index:1000;
}


nav img{
    width:80px;
    height:auto;
}



nav ul{

    display:flex;
    list-style:none;
    gap:25px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    backdrop-filter: blur(10px);
}

nav ul li a{
    text-decoration:none;
    color:#000;
    font-size:18px;
}


.icon{
    margin-left:auto;
    display:flex;
    gap:15px;
    font-size:20px;
    align-items:center;
}


label[for="menu"]{
    display:none;
}

label .open,
label .close{
    font-size:26px;}
    <!--headerCSS-->
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  background-image: url("images/bg.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 40px 0;              
}


   
.hero-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 120px auto 50px auto;        
  padding: 20px;
  min-height: 400px;
}


 .hero-text {
  flex: 1 1 400px;
  text-align: left;
  color: #444;
}

.hero-text h1 {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: bold;
}

.book {
  color: #0bb5b5;
  margin-bottom: 25px;
}

.hero-text p {
  font-size: 16px;
  line-height: 1.6;
  max-width: 450px;
  margin: 0 0 25px 0;            
}



.button {
  padding: 10px 20px;
  background: #0bb5b5;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto;
  display: inline-block;
}

  
.hero-image img {
  width: 350px;
  max-width: 100%;
  margin-top: -30px;
  display: block;
}

