*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}


nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:10px 5%;
    display:flex;
    align-items:center;
    background:#fff;
    box-shadow:0 2px 20px rgb(210,233,238);
    z-index:1000;
}


nav img{
    width:80px;
    height:auto;
}



nav ul{

    display:flex;
    list-style:none;
    gap:25px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    backdrop-filter: blur(10px);
}

nav ul li a{
    text-decoration:none;
    color:#000;
    font-size:18px;
}


.icon{
    margin-left:auto;
    display:flex;
    gap:15px;
    font-size:20px;
    align-items:center;
}


label[for="menu"]{
    display:none;
}

label .open,
label .close{
    font-size:26px;}
    <!--headerCSS-->
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

       
.hero-section {
    width: 90%;
    max-width: 1200px;
    margin: 10px auto;
    padding: 40px 20px;
    background-image: url("images/bg.png");
    background-size: cover;
    background-position: center 30px;
    background-repeat: no-repeat;
    min-height: 600px;
    background-color: rgba(255, 255, 255, 0.15);     
}
.hero-section td:first-child {
    padding-right: 100px;    
}
.hero-section td:first-child > * {
    margin-right: 100px !important;
}

.hero-section td:last-child > * {
    margin-left:  100px !important;
}


.hero-section table {
    border-collapse: separate !important;
    border-spacing: 80px 0;     
}


.hero-section td {
    padding: 20px;
    vertical-align: middle;
}

h1 {
    font-size: 40px;
    margin: 0;
    font-weight: bold;
}

.book {
    color: #0bb5b5;
}

p {
    color: #444;
    line-height: 1.6;
    max-width: 450px;
}

.button {
    padding: 10px 20px;
    background: #0bb5b5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    margin-top: 15px;
}

    
.hero-section img {
    width: 450px;
    max-width: 100%;
    margin-top: 5px;
}


